/* Elements */

body {
    font-size: 1.3rem;
    margin: 0;
    text-align: center;
    background-color: #eeee;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}


/* header */

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    margin: 0;
    top: 0;
    background-color: #00b8a9;
    width: 100%;
}

#nav-bar ul {
    list-style-type: none;
    width: 30vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2em;
}

#how-it-works {
    margin: 10em auto;
}


/* Images */

#header-img {
    max-width: 10%;
    width: 7vw;
}

.descriptions img {
    max-width: 30%;
    width: 10%;
    height: auto;
    margin-right: 20px;
    float: left;
}

section.describe {
    width: 60%;
    margin: 15rem auto;
    text-align: left;
}

.prices {
    margin: 5rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
}

.price {
    width: 25%;
    text-align: justify;
    margin: 0 auto;
    border: solid 2px #ffde7d;
    padding: 1em;
}

.price div {
    margin: 0;
    text-align: center;
    background-color: #ffde7d;
    padding: 5px;
}


/* Classes */